 
 
 Create Procedure [dbo].[@AIS_SalePlanning_LoadPreSalesOrderQtyDetailsForPopupWindow](@NoofDays Varchar(max),@FromDate Varchar(Max),@ToDate Varchar(Max),@ItemCode Varchar(50) )
 As

 Begin
 DECLARE @statement NVARCHAR(MAX)
 
 Set @statement ='Select T0.DocEntry, T0.DocNum,   T2.U_A'+ Convert(Varchar(20),@NoofDays)  +' as Qty
  from [@AIS_OPRE] T0 inner join [@AIS_PRE1] T1 on T1.DocEntry =T0.DocEntry 
   inner join [@AIS_PRE2] T2 on T2.DocEntry =T0.DocEntry and T2.U_UniqID =T1.LineId 
   Where T1.U_ItemCode ='''+ @ItemCode + ''' And T2.U_A'+ Convert(Varchar(20),@NoofDays)  +'>0  
 and      '''+  @FromDate  +' ''   between T0.U_FromDate  and T0.U_ToDate 
and   '''+  @ToDate  +'''   between T0.U_FromDate  and T0.U_ToDate'  
 EXEC(@statement)
 
 End