 
CREATE Procedure [dbo].[@AIS_BillDelivery_LoadDelivery](@AbsEntry Varchar(max) ) 
As
Begin

Select * from (
Select  T0.AbsEntry, T3.DocNum  , T3.DocEntry ,T3.DocDate ,T3.CardCode ,T3.CardName ,T4.ItemCode ,T5.ItemName,T3.U_UNIT ,T1.PickQtty  as PendingQty,
T4.LineNum  , isnull((Select A1.Price  from OCRD A0 inner join ITM1 A1 on A1.PriceList =A0.ListNum Where A1.ItemCode =T4.ItemCode 
and A0.CardCode =T3.CardCode),0.0) As Price
--T4.Price 
,T4.UomEntry , T4.TaxCode, T4.WhsCode  ,Isnull(T0.U_TruckNo ,'') as TruckNo ,Isnull(T0.U_Drivname  ,'') as DriverName,
Isnull(T0.U_MobileNum,'') as MobileNo ,T0.U_Vehicle,
(T1.PickQtty*(T5.SalPackUn+isnull(T5.U_BWeight,0)) /1000 ) as TonInWeight,T5.U_LCHARGES as LoadingCharges ,Isnull(T3.U_UNIT ,'') as Unit
,T4.TreeType ,T5.SalUnitMsr 
from OPKL  T0 Inner Join PKL1  T1 On T0.AbsEntry =T1.AbsEntry 
Inner Join ORDR  T3 on T3.DocEntry =T1.OrderEntry  And T3.ObjType =T1.BaseObject 
Inner Join RDR1  T4 on T4.DocEntry =T3.DocEntry   And T4.LineNum  =T1.OrderLine 
Inner Join OITM T5 on T5.ItemCode =T4.ItemCode   
Where T0.AbsEntry in (Select * from dbo.[SplitString](@AbsEntry,',')) and T1.PickQtty>0  And T1.PickStatus ='Y' 
and T4.TreeType not in ('S')
and T0.AbsEntry not in (Select  isnull(T0.U_PListNo,'') FROM [@AIS_PDE1] T0)
union all
Select distinct T0.AbsEntry, T3.DocNum  , T3.DocEntry ,T3.DocDate ,T3.CardCode ,T3.CardName ,T7.ItemCode ,T5.ItemName,T3.U_UNIT ,T7.Quantity   as PendingQty,
T7.LineNum  , isnull((Select A1.Price  from OCRD A0 inner join ITM1 A1 on A1.PriceList =A0.ListNum Where A1.ItemCode =T4.ItemCode 
and A0.CardCode =T3.CardCode),0.0) As Price
--T7.Price 
,T4.UomEntry , T7.TaxCode, T7.WhsCode  ,Isnull(T0.U_TruckNo ,'') as TruckNo ,Isnull(T0.U_Drivname  ,'') as DriverName,
Isnull(T0.U_MobileNum    ,'') as MobileNo ,T0.U_Vehicle,
(T7.Quantity *(T5.SalPackUn+isnull(T5.U_BWeight,0)) /1000 ) as TonInWeight,T5.U_LCHARGES as LoadingCharges ,Isnull(T3.U_UNIT ,'') as Unit
,T7.TreeType,T5.SalUnitMsr -- ,T4.TreeType As TreeType1 ,T6.Father
from OPKL  T0 Inner Join PKL1  T1 On T0.AbsEntry =T1.AbsEntry 
Inner Join ORDR  T3 on T3.DocEntry =T1.OrderEntry  And T3.ObjType =T1.BaseObject 
Inner Join RDR1  T4 on T4.DocEntry =T3.DocEntry And T4.LineNum  =T1.OrderLine 
inner join ITT1 T6 on T6.Code=T4.ItemCode and T6.Father in (Select A0.ItemCode from RDR1 A0 Where A0.ItemCode= T6.Father  and  A0.DocEntry=T3.DocEntry and A0.TreeType ='S')
Inner Join RDR1  T7 on T7.DocEntry =T3.DocEntry And T7.ItemCode   =T6.Father  
Inner Join OITM T5 on T5.ItemCode =T7.ItemCode  
  
Where T0.AbsEntry in (Select * from dbo.[SplitString](@AbsEntry,',')) and T1.PickQtty>0  And T1.PickStatus ='Y' and T7.TreeType ='S'
and T4.TreeType ='I'
and T0.AbsEntry not in (Select isnull(T0.U_PListNo,'') FROM [@AIS_PDE1] T0)

) Q Order by Q.DocEntry,Q.LineNum 
End
  --select * from RDR1 Where DocEntry=89
  ----select * from ORDR Where DocNum=202110089