 
Create Procedure [dbo].[@AIS_SalePlanning_LoadPreSalesOrderQtyDetails](@NoofDays Varchar(max),@FromDate Varchar(Max),@ToDate Varchar(Max),@ItemCode Varchar(50) )
As
Begin

DECLARE @statement NVARCHAR(MAX)
Set @statement ='Select Sum(T2.U_A'+ Convert(Varchar(20),@NoofDays)  +') as Qty 
from [@AIS_OPRE] T0 inner join [@AIS_PRE1] T1 on T1.DocEntry =T0.DocEntry 
inner join [@AIS_PRE2] T2 on T2.DocEntry =T0.DocEntry and T2.U_UniqID =T1.LineId Where T1.U_ItemCode ='''+ @ItemCode + ''' 
  and      '''+  @FromDate  +' ''   between T0.U_FromDate  and T0.U_ToDate 
and   '''+  @ToDate  +'''   between T0.U_FromDate  and T0.U_ToDate'  
EXEC(@statement)

End



 --Exec [dbo].[@AIS_SalePlanning_LoadPreSalesOrderQtyDetails]'1','20190401','20190401','555 10'
  